﻿@model global::Supermodel.DDD.Models.View.Mvc.LoginMvcModel

@{
    Layout = "~/Views/Shared/EmptyModalLayout.cshtml";
}

<style>
    #ModalDialogForModalEmptyLayout {
        width: 318px;
        margin-left: -159px;
    }

    #content {
        margin-bottom: -15px;
    }
</style>


<section id="content">
    @using (Html.Supermodel().BeginMultipartForm())
    {
        @Html.Supermodel().EditorForModel()
        <input name="submitButton" class="btn btn-primary" type='submit' value='Log In' />
    }
</section>

