﻿@{ Layout = "EmptyLayout.cshtml"; }

<script type="text/javascript">
    $(function () {
        $('#ModalDialogForModalEmptyLayout').modal().on('hide', function (event) {
            event.preventDefault();
        });
    });
</script>
<style>
    #ModalDialogForModalEmptyLayout {
        left: 50%;
    }
</style>
<div id="ModalDialogForModalEmptyLayout" class="modal hide fade">
    <div class="modal-body">
        @RenderBody()
    </div>
</div>

