@using Web.TBS.Controllers

@{
    Layout = "EmptyLayout.cshtml";
    var currentUser = TDMUser.GetCurrentUser(HttpContext.Current);
    if (currentUser == null)
    {
        throw new Exception("currentUser is null in MasterLayout");
    }
}

@*Set up your own menu items here*@
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>@(Html.Supermodel().ActionLinkStrong<HomeController>("Home", c => c.Index()))</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu Group<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@(Html.Supermodel().ActionLinkStrong<ToDoListController>("My To Do Lists", c => c.List(null, 25, null)))</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                            Welcome, @currentUser.FirstName @currentUser.LastName
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@(Html.Supermodel().ActionLinkStrong<TDMUserUpdatePasswordController>("Change Password", x => x.Detail(currentUser.Id, new HttpGet())))</li>
                            <li>@(Html.Supermodel().ActionLinkStrong<AuthController>("Sign Out", c => c.LogOut()))</li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="body-content">
    @RenderBody()
</div>

