﻿.center-button{
	margin: 0 auto;
}

.center-wrapper{
	text-align: center;
}

.center-wrapper * {
	margin: 0 auto;
}

ul.sm-crudList {
    margin: 8px !important
}

.sm-form {
    margin: 8px !important
}

ul.sm-crudList > li.ui-li-divider {
    padding-right: 8px !important;
    min-height: 30px;
}

ul.sm-crudList > li.ui-li-divider > div {
    width: 100%;
}

ul.sm-crudList > li.ui-li-divider > div > div.sm-crudListTitle {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
}

ul.sm-crudList > li.ui-li-divider > div > div.sm-crudListAddNew {
    float: right;
    position: relative;
    margin-top: -2px;
}


ul.sm-crudList > li.ui-li-divider > div > div > a.ui-btn {
    margin: 0;
    border: 0;
}

div.ui-simpledialog-controls {
    margin: 8px;
}

em.sm-required {
    color: red;
    font-weight: bold; 
    padding-right: .25em;
}

.field-validation-error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait){
    .field-validation-error {
         margin-left: 0; 
         display: block;
    }
}

@media screen and (orientation: landscape){
    .field-validation-error {
         display: inline-block; 
         margin-left: 22%;
    }
}

/*jqmobile Red theme*/
/* F
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-f {
	border: 1px solid #b3b3b3 /*{f-bar-border}*/;
	background: #eeeeee /*{f-bar-background-color}*/;
	color: #3e3e3e /*{f-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{f-bar-shadow-x}*/ 1px /*{f-bar-shadow-y}*/ 0 /*{f-bar-shadow-radius}*/ #ffffff /*{f-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 /*{f-bar-background-start}*/), to( #dddddd /*{f-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f0f0f0 /*{f-bar-background-start}*/, #dddddd /*{f-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f0f0f0 /*{f-bar-background-start}*/, #dddddd /*{f-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f0f0f0 /*{f-bar-background-start}*/, #dddddd /*{f-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f0f0f0 /*{f-bar-background-start}*/, #dddddd /*{f-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f0f0f0 /*{f-bar-background-start}*/, #dddddd /*{f-bar-background-end}*/);
}
.ui-bar-f .ui-link-inherit {
	color: #3e3e3e /*{f-bar-color}*/;
}
.ui-bar-f a.ui-link {
	color: #7cc4e7 /*{f-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-f a.ui-link:visited {
    color: #2489ce /*{f-bar-link-visited}*/;
}
.ui-bar-f a.ui-link:hover {
	color: #2489ce /*{f-bar-link-hover}*/;
}
.ui-bar-f a.ui-link:active {
	color: #2489ce /*{f-bar-link-active}*/;
}
.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f,
.ui-overlay-f {
	border: 1px solid #aaaaaa /*{f-body-border}*/;
	color: #333333 /*{f-body-color}*/;
	text-shadow: 0 /*{f-body-shadow-x}*/ 1px /*{f-body-shadow-y}*/ 0 /*{f-body-shadow-radius}*/ #ffffff /*{f-body-shadow-color}*/;
	background: #f9f9f9 /*{f-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{f-body-background-start}*/), to( #eeeeee /*{f-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{f-body-background-start}*/, #eeeeee /*{f-body-background-end}*/);
}
.ui-overlay-f {
	background-image: none;
	border-width: 0;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f .ui-link-inherit {
	color: #333333 /*{f-body-color}*/;
}
.ui-body-f .ui-link {
	color: #2489ce /*{f-body-link-color}*/;
	font-weight: bold;
}
.ui-body-f .ui-link:visited {
    color: #2489ce /*{f-body-link-visited}*/;
}
.ui-body-f .ui-link:hover {
	color: #2489ce /*{f-body-link-hover}*/;
}
.ui-body-f .ui-link:active {
	color: #2489ce /*{f-body-link-active}*/;
}
.ui-btn-up-f {
	border: 1px solid #c1272d /*{f-bup-border}*/;
	background: #c1272d /*{f-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{f-bup-color}*/;
	text-shadow: 0 /*{f-bup-shadow-x}*/ 1px /*{f-bup-shadow-y}*/ 0 /*{f-bup-shadow-radius}*/ #444444 /*{f-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d42a31 /*{f-bup-background-start}*/), to( #ad2328 /*{f-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d42a31 /*{f-bup-background-start}*/, #ad2328 /*{f-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d42a31 /*{f-bup-background-start}*/, #ad2328 /*{f-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d42a31 /*{f-bup-background-start}*/, #ad2328 /*{f-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d42a31 /*{f-bup-background-start}*/, #ad2328 /*{f-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d42a31 /*{f-bup-background-start}*/, #ad2328 /*{f-bup-background-end}*/);
}
.ui-btn-up-f:visited,
.ui-btn-up-f a.ui-link-inherit {
	color: #ffffff /*{f-bup-color}*/;
}
.ui-btn-hover-f {
	border: 1px solid #dd2c33 /*{f-bhover-border}*/;
	background: #dd2c33 /*{f-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{f-bhover-color}*/;
	text-shadow: 0 /*{f-bhover-shadow-x}*/ 1px /*{f-bhover-shadow-y}*/ 0 /*{f-bhover-shadow-radius}*/ #444444 /*{f-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f33038 /*{f-bhover-background-start}*/), to( #c6272d /*{f-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f33038 /*{f-bhover-background-start}*/, #c6272d /*{f-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f33038 /*{f-bhover-background-start}*/, #c6272d /*{f-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f33038 /*{f-bhover-background-start}*/, #c6272d /*{f-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f33038 /*{f-bhover-background-start}*/, #c6272d /*{f-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f33038 /*{f-bhover-background-start}*/, #c6272d /*{f-bhover-background-end}*/);
}
.ui-btn-hover-f:visited,
.ui-btn-hover-f:hover,
.ui-btn-hover-f a.ui-link-inherit {
	color: #ffffff /*{f-bhover-color}*/;
}
.ui-btn-down-f {
	border: 1px solid #dd2c33 /*{f-bdown-border}*/;
	background: #dd2c33 /*{f-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{f-bdown-color}*/;
	text-shadow: 0 /*{f-bdown-shadow-x}*/ 1px /*{f-bdown-shadow-y}*/ 0 /*{f-bdown-shadow-radius}*/ #444444 /*{f-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c6272d /*{f-bdown-background-start}*/), to( #f33038 /*{f-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c6272d /*{f-bdown-background-start}*/, #f33038 /*{f-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c6272d /*{f-bdown-background-start}*/, #f33038 /*{f-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c6272d /*{f-bdown-background-start}*/, #f33038 /*{f-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c6272d /*{f-bdown-background-start}*/, #f33038 /*{f-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c6272d /*{f-bdown-background-start}*/, #f33038 /*{f-bdown-background-end}*/);
}
.ui-btn-down-f:visited,
.ui-btn-down-f:hover,
.ui-btn-down-f a.ui-link-inherit {
	color: #ffffff /*{f-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

