﻿@model global::Supermodel.DDD.Models.View.Mvc.JQMobile.JQMobile.LoginMvcModel

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<section id="content">
    @using (Html.Supermodel().BeginMultipartForm(new { @class = "sm-form" }))
    {
        @Html.Supermodel().EditorForModel()
        <input name="submitButton" type='submit' value='Log In' />
    }
</section>

