<!DOCTYPE html>
<html>
<head>
    <title>TDM</title>
    <link rel="stylesheet" href="~/Content/Css/Custom/site.css" type="text/css" />
</head>
<body>
    @RenderBody()
    <script type='text/javascript'>
        @if (TempData.Supermodel().NextPageStartupScript != null) { @MvcHtmlString.Create(TempData.Supermodel().NextPageStartupScript) }
        @if (TempData.Supermodel().NextPageAlertMessage != null)  { <text>alert('@HttpUtility.HtmlEncode(TempData.Supermodel().NextPageAlertMessage)');</text> }
        @if (TempData.Supermodel().NextPageModalMessage != null) { <text>alert('@HttpUtility.HtmlEncode(TempData.Supermodel().NextPageModalMessage)');</text> }
    </script>
</body>
</html>

