@using Web.Controllers

@{
    Layout = "EmptyLayout.cshtml";
    var currentUser = TDMUser.GetCurrentUser(HttpContext.Current);
    if (currentUser == null)
    {
        throw new Exception("currentUser is null in MasterLayout");
    }
}

@*Set up your own menu items here*@
<p>
    Welcome, @currentUser.FirstName @currentUser.LastName |
    @(Html.Supermodel().ActionLinkStrong<HomeController>("Home", c => c.Index())) |
    @(Html.Supermodel().ActionLinkStrong<TDMUserUpdatePasswordController>("Change Password", x => x.Detail(currentUser.Id, new HttpGet()))) |
    @(Html.Supermodel().ActionLinkStrong<AuthController>("Sign Out", c => c.LogOut()))
</p>

<div>
    @RenderBody()
</div>

