@using Web.JQM.Controllers

@{
    Layout = "EmptyLayout.cshtml";
    var currentUser = TDMUser.GetCurrentUser(HttpContext.Current);
    if (currentUser == null)
    {
        throw new Exception("currentUser is null in MasterLayout");
    }
}

<div data-role="panel" data-display="overlay" id="MenuPanel">
    <ul data-role="listview" data-theme="b" data-divider-theme="a" data-count-theme="a">
        <li data-role="list-divider"> Welcome, @currentUser.FirstName @currentUser.LastName</li>
        <li>@(Html.Supermodel().ActionLinkStrong<HomeController>("Home", c => c.Index()))</li>
        <li>@(Html.Supermodel().ActionLinkStrong<ToDoListController>("My To Do Lists", c => c.List(null, 25, null)))</li>
        <li>@(Html.Supermodel().ActionLinkStrong<TDMUserUpdatePasswordController>("Change Password", x => x.Detail(currentUser.Id, new HttpGet())))</li>
        <li>@(Html.Supermodel().ActionLinkStrong<AuthController>("Sign Out", c => c.LogOut()))</li>
    </ul>
</div>

<div class="body-content">
    @RenderBody()
</div>
